# Hugo artifacts
public/
builds/
_vendor/
hugo_stats.json

# node/npm/yarn
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local Netlify config
.netlify/

# Lighthouse CI
.lighthouseci/

# here be secrets
.env
.env.prod*

# macOS/iCloud junk
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
*.icloud
.nosync
