image: node:alpine

before_script:
  - apk update && apk add openssl
  - wget https://github.com/gohugoio/hugo/releases/download/v0.46/hugo_0.46_Linux-64bit.tar.gz
  - tar xf hugo_0.46_Linux-64bit.tar.gz && cp ./hugo /usr/bin
  - npm install --quiet firebase-tools -g

deploy:
  stage: deploy
  script:
  - rm -rf public
  - hugo
  - firebase deploy --token $FIREBASE_TOKEN
