# Hugo artifacts
public/
builds/
resources/
_vendor/

# node/npm/yarn
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Lighthouse CI
.lighthouseci/

# here be secrets
.env
.env.production

# macOS/iCloud junk
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
*.icloud
.nosync

# Local Netlify folder
.netlify
