image: node:alpine
before_script:
  - apk update && apk add openssl
  - wget https://github.com/gohugoio/hugo/releases/download/v0.40.1/hugo_0.40.1_Linux-64bit.tar.gz
  - tar xf hugo_0.40.1_Linux-64bit.tar.gz && cp ./hugo /usr/bin
deploy:
  stage: deploy
  script:
  - npm install --quiet firebase-tools -g
  - rm -rf public
  - hugo
  - firebase deploy --token $FIREBASE_TOKEN