RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.jakejarvis.com$ [OR]
RewriteCond %{HTTP_HOST} ^jakejarvis.net$ [OR]
RewriteCond %{HTTP_HOST} ^www.jakejarvis.net$ [OR]
RewriteCond %{HTTP_HOST} ^jakejarvis.org$ [OR]
RewriteCond %{HTTP_HOST} ^www.jakejarvis.org$ [OR]
RewriteCond %{HTTP_HOST} ^jakejarv.is$ [OR]
RewriteCond %{HTTP_HOST} ^www.jakejarv.is$
RewriteRule (.*)$ https://jakejarvis.com/$1 [R=301,L]

RedirectMatch 404 /\.git

