# Hugo stuff that doesn't play well with Prettier
assets/**/vendor/
layouts/
static/
hugo_stats.json
data/manifest.json

# output from Hugo
public/
builds/
resources/
_vendor/

# dotfiles/config
.*
postcss.config.js
webpack.config.js
gulpfile.js
babel.config.json
tsconfig.json

# miscellaneous
vercel.json
.vercel/
.github/
.lighthouseci/
.vscode/
LICENSE.md
content/notes/dark-mode/example.html
