# Hugo stuff that doesn't play well with Prettier
assets/vendor/
layouts/
static/

# output from Hugo
public/
builds/
resources/
_vendor/

# Netlify plugins
plugins/

# dotfiles/config
.*
postcss.config.js

# miscellaneous
.github/
.lighthouseci/
.netlify/
.vscode/
LICENSE.md
