# Hugo stuff that doesn't play well with Prettier
assets/**/vendor/
layouts/
static/

# output from Hugo
public/
builds/
resources/
_vendor/

# dotfiles/config
.*
postcss.config.js
devcontainer.json

# miscellaneous
.github/
.lighthouseci/
.netlify/
.now/
.vercel/
.vscode/
LICENSE.md
