{
  "extends": [
    "stylelint-config-sass-guidelines",
    "stylelint-prettier/recommended"
  ],
  "plugins": [
    "stylelint-no-unsupported-browser-features",
    "stylelint-prettier"
  ],
  "rules": {
    "color-hex-length": "long",
    "max-nesting-depth": 6,
    "order/order": null,
    "order/properties-alphabetical-order": null,
    "plugin/no-unsupported-browser-features": [true, {
      "severity": "warning",
      "ignore": [
        "flexbox"
      ]
    }],
    "selector-max-compound-selectors": null,
    "selector-max-id": null,
    "selector-no-qualifying-type": null,
    "shorthand-property-no-redundant-values": null
  }
}
