{
  "extends": "stylelint-config-sass-guidelines",
  "plugins": [],
  "rules": {
    "color-hex-length": "long",
    "function-parentheses-space-inside": null,
    "function-url-quotes": null,
    "indentation": [ 2, { "severity": "warning" } ],
    "max-nesting-depth": 6,
    "number-no-trailing-zeros": null,
    "order/properties-alphabetical-order": null,
    "rule-empty-line-before": null,
    "scss/dollar-variable-colon-space-after": null,
    "selector-list-comma-newline-after": null,
    "selector-max-compound-selectors": null,
    "selector-max-id": null,
    "selector-no-qualifying-type": null,
    "selector-pseudo-element-no-unknown": [ true, { "ignorePseudoElements": [ "cue" ] } ],
    "shorthand-property-no-redundant-values": null,
    "string-quotes": [ "double", { "severity": "warning" } ]
  }
}
