{{- with .Site.Author -}}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "@id": {{ print $.Site.Params.baseURL $.Site.BaseURL "#author" }},
  "name": {{ .name }},
  "url": {{ print $.Site.Params.baseURL $.Site.BaseURL }},
  "description": {{ $.Site.Params.description }},{{ with $.Scratch.Get "authorImage" }}
  "image": {
    "@type": "ImageObject",
    "url": {{ print $.Site.Params.baseURL .Permalink }},
    "width": "{{ .Width }}",
    "height": "{{ .Height }}"
  },{{ end }}
  "sameAs": [
    {{ print $.Site.Params.baseURL $.Site.BaseURL }},{{ with .social }}
    {{ with .github }}{{ print "https://github.com/" . }},{{ end }}
    {{ with .keybase }}{{ print "https://keybase.io/" . }},{{ end }}
    {{ with .twitter }}{{ print "https://twitter.com/" . }},{{ end }}
    {{ with .medium }}{{ print "https://medium.com/@" . }},{{ end }}
    {{ with .linkedin }}{{ print "https://www.linkedin.com/in/" . "/" }},{{ end }}
    {{ with .facebook }}{{ print "https://www.facebook.com/" . }},{{ end }}
    {{ with .instagram }}{{ print "https://www.instagram.com/" . "/" }},{{ end }}
    {{ with .mastodon }}{{ print "https://" . }}{{ end }}{{ end }}
  ]
}
</script>
{{- end -}}
