{{- with .Site.Author -}}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "@id": {{ path.Join $.Site.BaseURL "#author" }},
  "name": {{ .name }},
  "url": {{ $.Site.BaseURL }},
  "description": {{ $.Site.Params.description }},
  {{ with .jobtitle }}"jobTitle": {{ . }},{{ end }}
  "image": {
    "@type": "ImageObject",
    "url": {{ $.Scratch.Get "defaultImage_url" | absURL }},
    "width": "{{ $.Scratch.Get "defaultImage_width" }}",
    "height": "{{ $.Scratch.Get "defaultImage_height" }}"
  },
  "sameAs": [
    {{ $.Site.BaseURL }},
    {{ with .github }}{{ printf "%s%s" "https://github.com/" . }},{{ end }}
    {{ with .twitter }}{{ printf "%s%s" "https://twitter.com/" . }},{{ end }}
    {{ with .linkedin }}{{ printf "%s%s%s" "https://www.linkedin.com/in/" . "/" }},{{ end }}
    {{ with .facebook }}{{ printf "%s%s" "https://www.facebook.com/" . }},{{ end }}
    {{ with .instagram }}{{ printf "%s%s%s" "https://www.instagram.com/" . "/" }},{{ end }}
    {{ with .mastodon }}{{ printf "%s%s" "https://" . }}{{ end }}
  ]
}
</script>
{{- end -}}
