{{ partial "head/meta" . }}
{{ partial "head/social-images" . }}
{{ partial "head/open-graph" . }}
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}">
<meta name="theme-color" content="#0e6dc2">
{{ partialCached "head/preload" . }}
{{ partialCached "head/styles" . }}
{{ partialCached "head/favicons" (dict "png_sizes" "192 48 32 16" "ico_sizes" "16x16 32x32 48x48") }}
<link rel="canonical" href="{{ .Permalink }}">
<link rel="alternate" type="application/rss+xml" href="{{ "feed.xml" | absURL }}" title="{{ .Site.Title }} (RSS)">
<link rel="author" href="{{ "humans.txt" | absURL }}">
{{ if and .IsPage (eq .Type "notes") }}
  {{ with .OutputFormats.Get "amp" }}
  <link rel="amphtml" href="{{ .Permalink }}">
  {{ end }}
  {{ partial "head/schema-person" . }}
  {{ partial "head/schema-article" . }}
{{ else }}
  {{ partial "head/schema-person" . }}
{{ end }}
