{{ partial "head/meta" . -}}
{{ partial "head/social-images" . -}}
{{ partial "head/open-graph" . -}}
{{ partialCached "head/mobile" . -}}
{{ partialCached "head/styles" . -}}
{{ partialCached "head/favicons" (dict "png_sizes" "192 48 32 16" "ico_sizes" "16 32 48") -}}
<link rel="manifest" href="{{ "site.webmanifest" | absURL }}">
<link rel="canonical" href="{{ .Permalink }}">
<link rel="alternate" type="application/rss+xml" href="{{ "feed.xml" | absURL }}" title="{{ .Site.Title }} (RSS)">
{{ partialCached "head/webmention" . -}}
<link rel="author" href="{{ "humans.txt" | absURL }}">
{{ if and .IsPage (eq .Type "notes") }}
  {{- with .OutputFormats.Get "amp" -}}
  <link rel="amphtml" href="{{ .Permalink }}">
  {{- end }}
  {{ partial "head/schema-person" . }}
  {{ partial "head/schema-article" . }}
{{ else }}
  {{ partial "head/schema-person" . }}
{{ end -}}
