<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  "url": {{ with .OutputFormats.Get "html" }}{{ .Permalink }}{{ end }},
  "mainEntityOfPage": {{ with .OutputFormats.Get "html" }}{{ .Permalink }}{{ end }},
  "name": {{ .Title }},
  "headline": {{ .Title }},
  "datePublished": {{ .PublishDate.Format "2006-01-02T15:04:05-07:00" }},
  "dateModified": {{ .PublishDate.Format "2006-01-02T15:04:05-07:00" }},
  "keywords": {{ with .Params.tags }}{{ delimit . ", " }}{{ end }},
  "description": {{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }},
  "wordCount": "{{ .WordCount }}",
  "author": {
    "@id": {{ path.Join .Site.BaseURL "#author" }}
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ .Site.Title }},
    "url": {{ .Site.BaseURL }},
    "logo": {
      "@type": "ImageObject",
      "url": {{ .Scratch.Get "logoImage_url" | absURL }},
      "width": "{{ .Scratch.Get "logoImage_width" }}",
      "height": "{{ .Scratch.Get "logoImage_height" }}"
    }
  },
  "image": {
    "@type": "ImageObject",
    "url": {{ .Scratch.Get "socialImage_url" | absURL }},
    "width": "{{ .Scratch.Get "socialImage_width" }}",
    "height": "{{ .Scratch.Get "socialImage_height" }}"
  }
}
</script>
