@charset "UTF-8";

// all variables set by Hugo's config.toml must go here
// stylelint-disable
$max-width: {{ printf "%d%s" .Site.Params.pageMaxWidth "px" }};
$base-url: "{{ strings.TrimRight "/" .Site.BaseURL }}/";   // consistent trailing forward slash
// stylelint-enable

// Variables & Functions
@import 'abstracts/themes';
@import 'abstracts/variables';
@import 'abstracts/functions';

// Global Styles
@import 'components/fonts';
@import 'components/global';
@import 'components/header';
@import 'components/footer';
@import 'components/content';

// Pages
@import 'pages/home';
@import 'pages/list';
@import 'pages/single';
@import 'pages/videos';
@import 'pages/etc';

// Responsive Mixins
@import 'abstracts/responsive';

// Miscellaneous
@import 'components/syntax';
@import 'components/magic';
