@charset "UTF-8";

// NOTE: all variables set by Hugo's config.toml MUST go here:
// prettier-ignore
$max-width: "{{ printf "%d%s" .Site.Params.Theme.maxWidth "px" }}";
$base-url: "{{ strings.TrimRight "/" .Site.BaseURL }}" + "/";

// those values need quotes because, even though prettier & stylelint are correct
// in that it's insanely invalid SCSS, they refuse to ignore it. but $max-width is
// a numerical value that can't have quotes, so let's remove them...
$max-width: unquote($max-width);

// Variables & Functions
@import "abstracts/functions";
@import "abstracts/settings";
@import "abstracts/themes";
@import "abstracts/reset";

// Global Styles
@import "components/typography";
@import "components/global";
@import "components/header";
@import "components/footer";
@import "components/content";
@import "components/embeds";

// Pages
@import "pages/home";
@import "pages/list";
@import "pages/single";
@import "pages/videos";
@import "pages/etc";

// Responsive Mixins
@import "abstracts/responsive";

// Miscellaneous
@import "components/syntax";
@import "components/animation";
