@charset "UTF-8";

// Responsive Blog
body#notes {
  padding: 0 20px;
  width: 100%;
  max-width: 100%;

  header {
    nav {
      padding: 5px 0;

      a#logo {
        padding: 10px;

        img, svg {
          height: 60px;
          width: auto;
        }

        span#name {
          display: none;
        }
      }

      ul {
        font-size: 1.75em;
        margin-right: 10px;

        li {
          width: 55px;

          // hide home emoji on mobile -- logo probably suffices?
          // &:first-child {
          //   display: none;
          // }
        }
      }
    }
  }

  footer div {
    &#panda {
      display: none;
    }

    &#copyright,
    &#poweredby {
      line-height: 1.8;
      width: 50%;
    }

    &#poweredby {
      a#hugo::after {
        content: "\A";
        white-space: pre;
      }
    }
  }

  main#archive section.year {
    font-size: 1em;
  }

  main#single article {
    width: 100%;
    max-width: 100%;

    div#info h1 {
      font-size: 1.7em;
    }
  }
}
