@charset "UTF-8";

/*! Magic Waving Hand Emoji™: https://jrvs.io/wave */
.wave {
  display: inline-block;
  animation: wave 5s infinite;
  animation-delay: 1s;
  transform-origin: 65% 80%;
}

.beat {
  display: inline-block;
  animation: beat 10s infinite; // 6 bpm, call 911 if you see this please.
  animation-delay: 7.5s; // offset from wave animation
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(14deg);
  }
  10% {
    transform: rotate(-8deg);
  }
  15% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-4deg);
  }
  25% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(0deg);
  }
  // pause for 3.5 out of 5 seconds
  100% {
    transform: rotate(0deg);
  }
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  2% {
    transform: scale(1.25);
  }
  4% {
    transform: scale(1);
  }
  6% {
    transform: scale(1.2);
  }
  8% {
    transform: scale(1);
  }
  // pause for ~9 out of 10 seconds
  100% {
    transform: scale(1);
  }
}
