@use "../abstracts/themes";

div#content {
  font-size: 0.925em;
  letter-spacing: -0.004em;
  line-height: 1.7;

  h1,
  h2,
  h3,
  h4 {
    margin-top: 1.25em;
    margin-bottom: 0.5em;
    letter-spacing: 0.001em;
    line-height: 1.5;
  }

  h2 {
    padding-bottom: 0.25em;
    border-bottom: 1px solid;

    @include themes.themed(border-color, "kinda-light");
  }

  p.center {
    text-align: center;
  }

  figure {
    margin: 1em auto;
    text-align: center;
    line-height: 1;

    img {
      height: auto;
      max-width: 100%;
    }

    figcaption {
      font-size: 0.95em;
      line-height: 1.5;
      margin-top: 0.5em;

      @include themes.themed(color, "medium");
    }
  }

  ul,
  ol {
    margin-left: 1.5em;
    padding-left: 0;

    li {
      padding-left: 0.25em;
    }
  }
}

// Responsive
@mixin responsive() {
  // stylelint-disable-block block-no-empty
}
