div.embed {
  &.tweet {
    .twitter-tweet-rendered iframe {
      margin: 0.5em 0;
    }
  }

  &.youtube {
    position: relative;
    padding-bottom: 56.25%;
    margin: 1em auto;
    height: 0;
    overflow: hidden;

    iframe.youtube-player {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: inline-block;
      border: 0;
    }
  }

  &.video {
    video {
      display: block;
      margin: 1em auto;
      max-width: 100%;
      height: auto;
    }
  }

  &.gh-buttons {
    text-align: center;

    // GitHub's script replaces <a> with <span>, so cover both
    > span,
    > a {
      margin: 0 0.5em;
    }
  }

  &.codepen {
    iframe {
      width: 100%;
      border: 0;
    }
  }
}
