@charset "UTF-8";

/*! Inter UI | SIL Open Font License 1.1 | https://rsms.me/inter/ */
@include font-face("Inter", "./fonts/inter-regular-subset", 400);
@include font-face("Inter", "./fonts/inter-medium-subset", 500);
@include font-face("Inter", "./fonts/inter-bold-subset", 700);
