@charset "UTF-8";

// Global Footer Styles
footer {
  width: 100%;
  letter-spacing: -0.005em;
  padding: 1.25em 1.5em;
  box-sizing: border-box;
  border-top: 1px solid;

  @include themed() {
    color: t(medium-dark);
    border-color: t(kinda-light);
  }

  a {
    @include themed() {
      color: t(medium-dark);
    }
  }

  div.row {
    display: flex;
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    justify-content: space-between;
    font-size: 0.85em;
  }

  div#copyright,
  div#poweredby {
    width: 40%;
    line-height: 2.3;
  }

  div#copyright {
    text-align: left;
  }

  div#poweredby {
    text-align: right;

    a#source {
      padding-bottom: 2px;
      border-bottom: 1px solid;

      @include themed() {
        border-color: t(light);
      }
    }
  }

  div#y2k {
    width: 20%;
    text-align: center;
    line-height: 1;
  }
}

// Responsive
@mixin responsive--footer() {
  footer {
    padding: 1em 1.25em 0 1.25em;

    div.row {
      display: block;
    }

    div#copyright,
    div#poweredby {
      width: 100%;
      text-align: left;
      line-height: 2;
    }

    // no more room at the inn :(
    div#y2k {
      display: none;
    }
  }
}
