@charset "UTF-8";

// Global Styles
body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: $color-gray-background;   // really just the color of header & footer
  color: $color-text;
  font-family: $webfont-roboto, $system-fonts-emoji;
  line-height: 1.5;
  box-sizing: border-box;
}

a {
  color: $color-links;
  text-decoration: none;
  background-image: underline-hack($color-links);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% $link-underline-size;
  padding-bottom: $link-underline-size;
  transition: background-size 0.25s ease-in-out;

  &:hover {
    text-decoration: none;
    background-size: 100% $link-underline-size;
  }

  &.no-underline {
    background: none !important;
  }
}

// white background for entire width content area
div#wrap {
  width: 100%;
  background-color: $color-background;
}


// Responsive
@mixin responsive--global() {
  body {
    // Safari iOS menu bar reappers below 44px:
    // https://www.eventbrite.com/engineering/mobile-safari-why/
    padding-bottom: 45px !important;
    // Allows you to scroll below the viewport; default value is visible
    overflow-y: scroll;

    // Fix weird font size behavior on iOS Safari: https://github.com/jakejarvis/jarv.is/issues/18
    // https://stackoverflow.com/questions/3226001/some-font-sizes-rendered-larger-on-safari-iphone
    // https://www.456bereastreet.com/archive/201011/beware_of_-webkit-text-size-adjustnone/
    -webkit-text-size-adjust: 100%;
  }
}
