@charset "UTF-8";

// Global Header Styles
header {
  width: 100%;
  border-bottom: 1px solid $color-light;

  nav {
    width: 100%;
    padding: 0.5em 1.5em;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a#logo {
      display: flex;
      align-items: center;
      color: $color-medium-dark;
      padding: 15px;

      h1#name {
        margin: 0 0 0 0.8em;
        font-size: 1.5em;
        font-weight: 500;
        letter-spacing: -0.01em;
      }

      svg {
        width: 30px;
        height: 45px;
      }

      // mix up logo colors on hover
      &:hover {
        color: $color-links;

        svg {
          g#c1 {
            fill: $color-logo2;
          }
          g#c2 {
            fill: $color-logo3;
          }
          g#c3 {
            fill: $color-logo1;
          }
        }
      }
    }

    // Horizontal emoji links
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      font-size: 1.5em;
      line-height: 1;
      padding: 0;
      margin-right: 15px;

      li {
        width: 2.5em;
        text-align: right;

        a {
          display: inline-block;
          transition: transform 0.15s ease-in-out;

          &:hover {
            transform: scale(1.4);
          }
        }
      }
    }
  }
}


// Responsive
@mixin responsive--header() {
  header nav {
    padding: 0.4em 1em;

    a#logo {
      padding: 10px;

      img,
      svg {
        width: 40px;
        height: 60px;
      }

      h1#name {
        display: none;
      }
    }

    ul {
      font-size: 1.75em;
      margin-right: 10px;

      li {
        width: 55px;
      }
    }
  }
}
