@charset "UTF-8";

// Global Header Styles
header {
  width: 100%;

  @include themed() {
    border-bottom: 1px solid t(color-kinda-light);
    background-color: t(color-super-duper-light);
  }

  nav {
    width: 100%;
    max-width: 1032px;
    padding: 0.25em 1.75em;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a#logo {
      display: flex;
      align-items: center;

      @include themed() {
        color: t(color-medium-dark);
      }

      h1#name {
        margin-left: 0.8em;
        font-size: 1.4em;
        font-weight: 500;
        letter-spacing: -0.01em;
      }

      svg {
        width: 30px;
        height: 45px;
      }

      // mix up logo colors on hover
      &:hover {
        @include themed() {
          color: t(color-links);
        }

        svg {
          g#c1 {
            fill: $color-logo2;
          }
          g#c2 {
            fill: $color-logo3;
          }
          g#c3 {
            fill: $color-logo1;
          }
        }
      }
    }

    // Horizontal emoji links
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      padding: 0;
      font-size: 1.2em;
      line-height: 1;

      li {
        text-align: right;
        margin-left: 1.6em;

        a {
          display: inline-block;
          transition: transform 0.15s ease-in-out;

          @include themed() {
            color: t(color-medium);
          }

          &:hover {
            transform: scale(1.15);

            @include themed() {
              color: t(color-links);
            }
          }

          span.icon {
            font-size: 1.15em;
            vertical-align: -0.075em;
          }

          span.text {
            font-size: 0.8em;
            font-weight: 500;
            margin-left: 0.5em;
          }
        }

        &:first-child {
          margin-left: 0;
        }
      }

      // Dark mode toggle
      button#dark-mode-toggle {
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: block;
        height: 1.5em;
        width: 1em;
        cursor: pointer;

        // hide by default in case user's JS is disabled
        visibility: hidden;
      }
    }
  }
}

// Responsive
@mixin responsive--header() {
  header nav {
    padding: 0.1em 1.25em;

    a#logo {
      img,
      svg {
        width: 40px;
        height: 60px;
      }

      h1#name {
        display: none;
      }
    }

    ul {
      font-size: 1.7em;

      li {
        margin-left: 0.85em;

        a {
          span.icon {
            font-size: 0.9em;
          }

          // hide text next to emojis on mobile
          span.text {
            display: none;
          }

          &:hover {
            transform: scale(1.4);
          }
        }
      }

      // Dark mode toggle
      button#dark-mode-toggle {
        // TODO: figure out need for weird magic numbers here
        height: 1.025em;
        width: 0.75em;
        margin-top: 0.125em;
      }
    }
  }
}
