@charset "UTF-8";

/*! Fancy Waving Hand Emoji (TM) - https://go.jarv.is/wave */
@keyframes wave {
  0% { transform: rotate(  0.0deg); }
 10% { transform: rotate(-10.0deg); }
 20% { transform: rotate( 12.0deg); }
 30% { transform: rotate(-10.0deg); }
 40% { transform: rotate(  9.0deg); }
 50% { transform: rotate(  0.0deg); }
100% { transform: rotate(  0.0deg); }
}
