{{ define "main" }}
<div class="layout layout-projects">
  <h1><a class="no-underline" href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>

  <div id="content">
    <div id="loading-spinner" class="spinner"><div class="spin-bounce1"></div><div class="spin-bounce2"></div><div class="spin-bounce3"></div></div>

    <div id="github-cards"></div>

    <p><a href="https://github.com/jakejarvis?tab=repositories" target="_blank" rel="noopener">View more on GitHub...</a></p>
  </div>
</div>
{{ end }}
