{{ partial "amp/head" . }}

<article class="layout layout-single">
  <div id="meta">
    <span title="{{ .Date.Format "Mon, Jan 2 2006 3:04:05 PM MST" }}">{{ .Date.Format "January 2, 2006" }}</span>{{ with .OutputFormats.Get "html" }}<span class="dash">—</span><a href="{{ .Permalink }}" title="View Full Version">View Full Version</a>{{ end }}
  </div>

  {{ with .OutputFormats.Get "html" }}
  <h1 class="title"><a href="{{ .Permalink }}">{{ $.Title | markdownify }}</a></h1>
  {{ end }}

  <div id="content">
    {{ .Content }}
  </div>
</article>

{{ partial "amp/foot" . }}
