{{ partial "header.html" . }}
{{ partial "blog-header.html" . }}
    <main id="single">
      <article itemscope itemtype="http://schema.org/Article" class="h-entry">
        <div id="info">
          <h1 itemprop="name" class="p-name"><a href="{{ .Permalink }}" itemprop="url" class="u-url no-underline">{{ .Title }}</a></h1>
          <div id="meta">
            by <span itemprop="author" itemscope itemtype="http://schema.org/Person" class="p-author"><a itemprop="url" rel="me author" href="{{ .Site.BaseURL }}" title="Jake Jarvis" class="h-card no-underline"><span itemprop="name" class="p-name">Jake Jarvis</span></a></span> &middot; 
            <a class="no-underline" href="{{ .Permalink }}" title="{{ .Date.Format "Mon, Jan 2 2006 3:04:05 PM MST" }}"><time itemprop="datePublished" content="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}" datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}" class="dt-published">{{ .Date.Format "January 2, 2006" }}</time></a> &middot; 
            <!-- {{ if lt 1 .WordCount }}{{ .WordCount }} words{{ else }}{{ .WordCount }} word{{ end }} &middot; -->
            <!-- {{ .ReadingTime }} minute read -->
            <a class="no-underline" href="{{ .Permalink }}#commento">Comments</a>
            <div id="tags">
            {{ with .Params.tags }}{{ if ge (len .) 1 }}
              {{ range . }}<span class="tag p-category"><!--<a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">-->{{ . }}<!--</a>--></span>
              {{ end }}
            {{ end }}{{ end }}
            </div>
          </div>
        </div>
        <div id="content" itemprop="articleBody" class="e-content">
{{ .Content }}
        </div>
        <div id="commento"></div>
      </article>
    </main>
{{ partial "blog-footer.html" . }}
{{ partial "footer.html" . }}