@charset "UTF-8";

// Responsive Awesomeness
@media screen and (max-width: $responsive-width) {
  @include responsive--global();
  @include responsive--header();
  @include responsive--footer();
  @include responsive--content();

  @include responsive--home();
  @include responsive--list();
  @include responsive--single();
  @include responsive--videos();
  @include responsive--etc();
  @include responsive--projects();
}
