@charset "UTF-8";

// Global Colors
$color-background:   #ffffff;
$color-text:         #222222;
$color-light:        #666666;
$color-medium-light: #757575;
$color-super-light:  #dddddd;
$color-super-duper-light: #f4f4f4;
$color-links:        #0e6dc2;

// Colorful Homepage
$colors-home:(
  boston:     #fb4d42,
  javascript: #f48024,
  node:       #6fbc4e,
  golang:     #00acd7,
  react:      #4fb3cd,
  angular:    #c3002f,
  vue:        #486491,
  java:       #ab6311,
  cpp:        #865fc5,
  python:     #fea500,
  php:        #8892bf,
  ruby:       #d34135,
  infosec:    #00b81a,
  server:     #0098ec,
  devops:     #ff6200,
  containers: #c48f49,
  y2k:        #4169e1,
  jbb:        #9932cc,
  birthday:   #e40088,
  github:     #8d4eff,
  linkedin:   #0073b1,
  facebook:   #4267b2,
  twitter:    #00acee,
  dm:         #00acee,
  instagram:  #a37754,
  mastodon:   #6d8ca7,
  resume:     #d54b3d,
  email:      #de0c0c,
  pgp:        #757575,
  sms:        #6fcc01,
  news-1:     #ff1b1b,
  news-2:     #f78200,
  news-3:     #f2b702,
  news-4:     #5ebd3e,
  news-5:     #009cdf,
  news-6:     #3e49bb,
  news-7:     #973999
);
$color-serverless: #87cef7;

// Other Settings
$link-opacity: 40%;
$link-underline-size: 2px;

$responsive-width: 890px;
