@charset "UTF-8";

// System fonts and web fonts
// https://markdotto.com/2018/02/07/github-system-fonts/
$system-fonts: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
               "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
               "Droid Sans", "Helvetica Neue", sans-serif,
               "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$system-fonts-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$system-fonts-monospace: "SFMono-Regular", "Consolas", "Liberation Mono",
               "Menlo", "Courier", monospace;
$webfont-inter: "Inter", sans-serif;

// Misc Settings
$responsive-width: 890px;
$link-opacity: 40%;
$link-underline-size: 2px;

// Global Colors
$color-background:   #ffffff;
$color-gray-background: #f9f9f9;
$color-text:         #2a2a2a;
$color-medium-dark:  #494949;
$color-medium:       #5e5e5e;
$color-medium-light: #757575;
$color-light:        #d2d2d2;
$color-super-light:  #f4f4f4;
$color-links:        #0e6dc2;

// For nifty color swapping on svg logo hover in components/_header.scss
$color-logo1: #6fbc4e;
$color-logo2: #ffb900;
$color-logo3: #009cdf;

// Colorful Homepage
$colors-home:(
  boston:     #fb4d42,
  javascript: #f48024,
  node:       #6fbc4e,
  golang:     #00acd7,
  react:      #4fb3cd,
  angular:    #c3002f,
  vue:        #486491,
  java:       #ab6311,
//  cpp:        #865fc5,
  python:     #fea500,
  php:        #8892bf,
  ruby:       #d34135,
  infosec:    #00b81a,
  server:     #0098ec,
  devops:     #ff6200,
  containers: #c48f49,
  y2k:        #4169e1,
  jbb:        #9932cc,
  birthday:   #e40088,
  github:     #8d4eff,
  linkedin:   #0073b1,
  facebook:   #4267b2,
  twitter:    #00acee,
  dm:         #00acee,
  instagram:  #a37754,
  mastodon:   #6d8ca7,
  resume:     #d54b3d,
  email:      #de0c0c,
  pgp:        #757575,
  sms:        #6fcc01,
  news-1:     #ff1b1b,
  news-2:     #f78200,
  news-3:     #f2b702,
  news-4:     #5ebd3e,
  news-5:     #009cdf,
  news-6:     #3e49bb,
  news-7:     #973999
);
$color-serverless: #87cef7;
