{{/* Strip any markdown styling from page title for use in meta tags */}}
{{- with .Title -}}
  {{- $.Scratch.Set "plainTitle" (. | markdownify | htmlUnescape | plainify) -}}
{{- end -}}

{{/* If this is a page/post, link View Source to specific file on GitHub; otherwise, just link to repo homepage */}}
{{- with .Site.Params.social.githubRepo -}}
  {{- $githubURL := print "https://github.com/" . -}}
  {{- if not $.IsPage -}}
    {{- $.Scratch.Set "sourceURL" $githubURL -}}
  {{- else -}}
    {{- $.Scratch.Set "sourceURL" (print $githubURL "/blob/main/content/" $.File.Path) -}}
  {{- end -}}
{{- end -}}

{{/* Chooses and initializes various images for use by JSON schema & open graph tags */}}
{{/* Author image (default) */}}
{{- with .Site.Data.manifest -}}
  {{- with index . $.Site.Author.image -}}
    {{- $.Scratch.Set "authorImage" (dict "Permalink" (absURL .src) "Width" 1200 "Height" 1200 "MediaType" "image/jpeg") -}}
  {{- end -}}
{{- end -}}
{{/* Page image (via frontmatter) */}}
{{- with .Params.image -}}
  {{- with $.Page.Resources.GetMatch . -}}
    {{- $.Scratch.Set "pageImage" . -}}
  {{- end -}}
{{- else -}}
  {{/* Fallback to author image set above */}}
  {{- with $.Scratch.Get "authorImage" -}}
    {{- $.Scratch.Set "pageImage" . -}}
  {{- end -}}
{{- end -}}
{{/* Site logo */}}
{{- with .Site.Data.manifest -}}
  {{- with index . $.Site.Params.image -}}
    {{- $.Scratch.Set "logoImage" (dict "Permalink" (absURL .src) "Width" 2048 "Height" 2048 "MediaType" "image/png") -}}
  {{- end -}}
{{- end -}}
