{{/* Default image */}}
{{- $defaultImagePath := (path.Join "content" $.Site.Params.defaultimage) }}
{{ $.Scratch.Set "defaultImage_url" (replace $defaultImagePath "content/" "") }}
{{ with (imageConfig $defaultImagePath) }}
  {{- $.Scratch.Set "defaultImage_width" .Width }}
  {{- $.Scratch.Set "defaultImage_height" .Height }}
{{ end -}}

{{/* Article image (with fallback to default image */}}
{{- with .Params.image }}
  {{- $imagePath := (path.Join "content" $.File.Dir "images/" .) }}

  {{- $.Scratch.Set "socialImage_url" (replace $imagePath "content/" "") }}
  {{- with (imageConfig $imagePath) }}
    {{- $.Scratch.Set "socialImage_width" .Width }}
    {{- $.Scratch.Set "socialImage_height" .Height }}
  {{- end }}
{{ else }}
  {{- $.Scratch.Set "socialImage_url" (replace $defaultImagePath "content/" "") }}
  {{- with (imageConfig $defaultImagePath) }}
    {{- $.Scratch.Set "socialImage_width" .Width }}
    {{- $.Scratch.Set "socialImage_height" .Height }}
  {{- end }}
{{ end -}}

{{/* Site logo */}}
{{- $logoImagePath := (path.Join "content" "logo.png") }}
{{ $.Scratch.Set "logoImage_url" (replace $logoImagePath "content/" "") }}
{{ with (imageConfig $logoImagePath) }}
  {{- $.Scratch.Set "logoImage_width" .Width }}
  {{- $.Scratch.Set "logoImage_height" .Height }}
{{ end -}}
