{{/* Chooses and initializes various images for use by JSON schema & open graph tags */}}

{{/* Author image (default) */}}
{{- with .Site.Author.image -}}
  {{- with resources.Get . -}}
    {{- $.Scratch.Set "authorImage" . -}}
  {{- end -}}
{{- end -}}

{{/* Article image */}}
{{- with .Params.image -}}
  {{- with $.Page.Resources.GetMatch . -}}
    {{- $.Scratch.Set "pageImage" . -}}
  {{- end -}}
{{- else -}}
  {{/* Fallback to author image set above */}}
  {{- with $.Scratch.Get "authorImage" -}}
    {{- $.Scratch.Set "pageImage" . -}}
  {{- end -}}
{{- end -}}

{{/* Site logo */}}
{{- with .Site.Params.image -}}
  {{- with resources.Get . -}}
    {{- $.Scratch.Set "logoImage" . -}}
  {{- end -}}
{{- end -}}
