<style>
:root {
  padding-top: 3rem;
}
#blm-banner {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 3rem;
  padding: 6rem 1rem 0 1rem;
  z-index: 999;
  transform: translate(0, -6rem);

  text-align: center;
  text-decoration: none;
  font-size: 0.925em;
  font-weight: 500;
  letter-spacing: 0.008em;
  background: #252525;
  color: #ebebeb;
  border-bottom: 1px solid #353535;

  display: flex;
  align-items: center;
  justify-content: center;
}
#blm-banner:hover {
  background: #151515;
  color: #fbfbfb;
}
</style>

<a id="blm-banner" href="https://support.eji.org/give/153413/#!/donation/checkout" title="Support the Equal Justice Initiative." target="_blank" rel="noopener noreferrer nofollow">#BlackLivesMatter&nbsp;✊🏾</a>
