<header>
  <nav>
    <a class="no-underline" href="{{ .Site.BaseURL }}" id="logo" rel="me author" title="{{ .Site.Title }}" aria-label="{{ .Site.Title }}">
      {{ partialCached "page/logo" . }}
      <h1 id="name">{{ .Site.Title }}</h1>
    </a>
    <ul>
      <li><a class="no-underline" href="{{ .Site.BaseURL }}" title="Home"><span class="emoji">&#x1F3E0;</span><span class="text">Home</span></a></li>
      <li><a class="no-underline" href="{{ "notes/" | absURL }}" title="Notes"><span class="emoji">&#x1F4DD;</span><span class="text">Notes</span></a></li>
      {{ with .Site.Author.github }}<li><a class="no-underline" href="https://github.com/{{ . }}" title="GitHub" target="_blank" rel="me noopener"><span class="emoji">&#x1F468;&#x200D;&#x1F4BB;</span><span class="text">GitHub</span></a></li>{{ end }}
      <li><a class="no-underline" href="&#x6D;&#x61;&#x69;&#x6C;&#x74;&#x6F;&#x3A;&#x6A;&#x61;&#x6B;&#x65;&#x40;&#x6A;&#x61;&#x72;&#x76;&#x2E;&#x69;&#x73;" title="Email Me"><span class="emoji">&#x1F4EC;</span><span class="text">Email</span></a></li>
    </ul>
  </nav>
</header>
