<header>
  <nav>
    <a class="no-underline" href="{{ .Site.BaseURL }}" id="logo" rel="me author" aria-label="{{ .Site.Title }}">
      {{ with index .Site.Data.manifest "images/tiny-selfie.jpg" }}
      <img id="selfie" src="{{ .src | absURL }}" width="54" height="54" alt="Photo of Jake Jarvis">
      {{ end }}

      <span id="name">{{ .Site.Title }}</span>
    </a>
    <ul>
      {{- range .Site.Menus.main }}
      <li><a class="no-underline" {{ printf "href=%q" .URL | safeHTMLAttr }} aria-label="{{ .Name }}"{{ if strings.HasPrefix .URL "http" }} target="_blank" rel="me noopener"{{ end }}><span class="icon">{{ .Pre }}</span><span class="text">{{ .Name }}</span></a></li>
      {{- end }}
      <li><button class="dark-mode-toggle" title="Toggle Dark Mode" aria-label="Toggle Dark Mode" style="display: none;"></button></li>
    </ul>
  </nav>
</header>
