<header>
  <nav>
    <a class="no-underline" href="{{ .Site.BaseURL }}" id="logo" rel="me author" aria-label="{{ .Site.Title }}">
      {{ partialCached "page/logo" . }}
      <h1 id="name">{{ .Site.Title }}</h1>
    </a>
    <ul>
      {{- range .Site.Menus.main }}
      <li><a class="no-underline" {{ printf "href=%q" .URL | safeHTMLAttr }} aria-label="{{ .Name }}"{{ if strings.HasPrefix .URL "http" }} target="_blank" rel="me noopener"{{ end }}><span class="icon">{{ .Pre }}</span><span class="text">{{ .Name }}</span></a></li>
      {{ end -}}
    </ul>
  </nav>
</header>
