<!DOCTYPE html>
{{"<!--\n      ,,,        ,,,\n    ;\"   ^;    ;\"   \",\n   ;     s$$$$$s      ;\n    ,  ss$$$$$$$ss  ,\"\n    ;$$$$$$$$$$$$$$$$\n    $$$$$$$$$$$$$$$$$$           Hello friend. :)\n   $$$$$\"\"\"$$$\"\"\"$$$$$$\n  $$$$$  p\"$$$\"q  $$$$$     https://jarv.is/humans.txt\n   $$$$  .$$$$$.  $$$$\n    $$$$$$$$$$$$$$$$$\n      \"$$$$\"*\"$$$$\"\n         \"$$.$$\"\n-->" | safeHTML}}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Jake Jarvis &ndash; Web &amp; Mobile Developer in Boston, MA</title>
    <meta name="description" content="I'm a 26-year-old web and mobile entrepreneur living in Boston, Massachusetts.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="Jake Jarvis &mdash; Web &amp; Mobile Developer in Boston, MA">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:description" content="I'm a 26-year-old web and mobile entrepreneur living in Boston, Massachusetts.">
    <meta property="og:image" content="{{ "me.jpg" | absURL }}">
    <meta property="fb:admins" content="1329090853">
    <meta property="twitter:account_id" content="229769022">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@jakejarvis">
    <meta name="twitter:title" content="Jake Jarvis &mdash; Web &amp; Mobile Developer in Boston, MA">
    <meta name="twitter:url" content="{{ .Permalink }}">
    <meta name="twitter:description" content="I'm a 26-year-old web and mobile entrepreneur living in Boston, Massachusetts.">
    <meta name="twitter:image" content="{{ "me.jpg" | absURL }}">
    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="icon" type="image/png" href="{{ "favicon-128.png" | absURL }}" sizes="128x128">
    <link rel="icon" type="image/png" href="{{ "favicon-96.png" | absURL }}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ "favicon-64.png" | absURL }}" sizes="64x64">
    <link rel="icon" type="image/png" href="{{ "favicon-48.png" | absURL }}" sizes="48x48">
    <link rel="icon" type="image/png" href="{{ "favicon-32.png" | absURL }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ "favicon-16.png" | absURL }}" sizes="16x16">
    <link rel="shortcut icon" href="{{ "favicon.ico" | absURL }}">
    <link rel="preload" href="{{ "fonts/open-sans-light.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="{{ "style.css" | absURL }}">
    <link rel="author" href="https://plus.google.com/+JakeJarvis/posts">
    <link rel="author" href="{{ "humans.txt" | absURL }}">
  </head>
  <body>