<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "name": {{ .Site.Author.name }},
  "url": {{ .Site.BaseURL }},
  "description": {{ .Site.Params.description }},
  "jobTitle": {{ .Site.Author.jobtitle }},
  "image": {
    "@type": "ImageObject",
    "url": {{ "me_large.jpg" | absURL }},
    "width": "1200",
    "height": "1200"
  },
  "sameAs": [
    {{ .Site.BaseURL }},
    {{ printf "%s%s" "https://github.com/" .Site.Author.github }},
    {{ printf "%s%s" "https://twitter.com/" .Site.Author.twitter }},
    {{ printf "%s%s" "https://www.facebook.com/" .Site.Author.facebook }},
    {{ printf "%s%s%s" "https://www.linkedin.com/in/" .Site.Author.linkedin "/" }},
    {{ printf "%s%s" "https://" .Site.Author.mastodon }}
  ]
}
</script>
