@charset "UTF-8";

// Video Styles
div.layout-etc {
  padding-top: 1.5em;
  padding-bottom: 1.5em;

  h1 {
    margin-top: 0;
    text-align: center;
    letter-spacing: -0.005em;

    a {
      color: inherit;
    }
  }
}

// Responsive
@mixin responsive--etc() {
  div.layout-etc {
    h1 {
      font-size: 1.6em;
      padding: 0 0.6em;
    }
  }
}
