@charset "UTF-8";

// Video Styles
main#etc {
  max-width: $max-width;
  padding: 1.5em 2em;
  margin: 0 auto;

  h1 {
    margin-top: 0;
    text-align: center;
    letter-spacing: -0.005em;

    a {
      color: inherit;
    }
  }
}

// Responsive
@mixin responsive--etc() {
  main#etc {
    padding: 1.25em 1.1em;

    h1 {
      font-size: 1.6em;
      padding: 0 0.6em;
    }
  }
}
