@charset "UTF-8";

// Home Styles
main#home {
  font-size: 1.3em;
  max-width: 980px;
  padding: 1.5em 1.75em 0.5em 1.75em;
  margin: 0 auto;

  h2 {
    margin: 0 0 0.6em 0;
    font-size: 1.6em;
    font-weight: 500;
    letter-spacing: -0.015em;
    line-height: 1.2;
  }

  h3 {
    margin: 0.6em 0;
    font-size: 1.3em;
    font-weight: 400;
    letter-spacing: -0.025em;
    line-height: 1.4;
  }

  p {
    margin: 0.8em 0;
    letter-spacing: -0.02em;
    line-height: 1.55;
  }

  sup {
    top: -0.5em;
    font-size: 0.5em;
    letter-spacing: -0.005em;
    line-height: 0;
    margin-right: 0.1em;
    position: relative;
    vertical-align: middle;
  }

  // non-link colors
  span {
    &#serverless {
      color: $color-serverless;
    }

    &#shh {
      color: $color-medium-light;
    }
  }

  a {
    // Loop through $colors-home -- the main reason I switched to SASS :)
    @each $id, $color in $colors-home {
      &##{$id} {
        color: $color;
        background-image: underline-hack($color);
      }
    }

    &#blog {
      font-size: 0.9em;
      margin-bottom: 0;

      span {
        margin-right: 0.2em;
      }
    }

    // easter egg emoji cursor
    &#birthday {
      &:hover {
        // stylelint-disable-next-line function-url-quotes
        cursor: url(data:image/svg+xml;utf8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzNiIgdmlld3BvcnQ9IjAgMCAxMDAgMTAwIiBzdHlsZT0iZm9udC1zaXplOjE4cHgiPjx0ZXh0IHk9IjUwJSI+8J+nmjwvdGV4dD48L3N2Zz4=) 5 5, auto;
      }
    }
  }

  img#me {
    float: right;
    margin: 0 0 0.5em 1em;
    padding: 4px;
    border: 1px solid $color-light;
    border-radius: 50%;
    width: 160px;
    height: 160px;
  }
}


// Responsive
@mixin responsive--home() {
  main#home {
    font-size: 1.1em;
    line-height: 1.6;
    padding: 1.2em 1.2em 0.2em 1.2em;

    h2 {
      font-size: 1.3em;
      line-height: 1.4;
    }

    h3 {
      font-size: 1.1em;
      line-height: 1.4;
    }

    img#me {
      width: 85px;
      height: 85px;
      margin: 0 0 0.3em 0.6em;
      padding: 2px;
    }
  }
}
