@charset "UTF-8";

// Home Styles
main#home {
  font-size: 1.1em;
  padding-top: 1.5em;
  padding-bottom: 0.5em;

  h2 {
    margin: 0 0 0.6em 0;
    font-size: 1.8em;
    font-weight: 500;
    letter-spacing: -0.014em;
    line-height: 1.1;
  }

  h3 {
    margin: 0.6em 0;
    font-size: 1.35em;
    font-weight: 400;
    letter-spacing: -0.022em;
    line-height: 1.4;
  }

  p {
    margin: 0.8em 0;
    letter-spacing: -0.015em;
    line-height: 1.6;
  }

  sup {
    top: -0.5em;
    font-size: 0.54em;
    letter-spacing: -0.005em;
    line-height: 0;
    position: relative;
    vertical-align: middle;
  }

  img#me {
    float: right;
    margin-bottom: 0.5em;
    margin-left: 1em;
    padding: 4px;
    border-radius: 50%;
    width: 160px;
    height: 160px;

    @include themed() {
      border: 1px solid t(color-light);
    }
  }

  a {
    &#blog {
      font-size: 0.9em;
      margin-bottom: 0;

      span {
        margin-right: 0.1em;
      }
    }

    // easter egg emoji cursor
    &#birthday {
      // prettier-ignore
      &:hover {
        cursor: url(data:image/svg+xml;utf8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzNiIgdmlld3BvcnQ9IjAgMCAxMDAgMTAwIiBzdHlsZT0iZm9udC1zaXplOjE4cHgiPjx0ZXh0IHk9IjUwJSI+8J+nmjwvdGV4dD48L3N2Zz4=) 5 5, auto;
      }
    }
  }

  // non-link colors
  span {
    &#serverless {
      color: $color-serverless;
    }

    &#shh {
      @include themed() {
        color: t(color-medium-light);
      }
    }
  }
}

// Loop through $colors-home (see abstracts/_variables)
@each $id, $colors in $colors-home {
  @each $theme, $color in $colors {
    body.#{$theme} main#home a##{$id} {
      color: $color;
      background-image: underline-hack($color);
    }
  }
}

// Responsive
@mixin responsive--home() {
  main#home {
    font-size: 1em;
    padding: 1.2em 1.2em 0.2em 1.2em;

    h2 {
      font-size: 1.45em;
      line-height: 1.4;
    }

    h3 {
      font-size: 1.25em;
      line-height: 1.4;
    }

    img#me {
      width: 85px;
      height: 85px;
      margin: 0 0 0.3em 0.6em;
      padding: 2px;
    }

    a#blog {
      font-size: 1em;
    }
  }
}
