@charset "UTF-8";

// Home Styles
div#layout--home {
  font-size: 1.025em;
  padding-top: 1.5em;
  padding-bottom: 0.75em;

  h2 {
    margin: 0 0 0.6em 0;
    font-size: 1.8em;
    font-weight: 500;
    letter-spacing: -0.014em;
    line-height: 1.1;
    margin-left: -0.03em; // TODO: why is this indented slightly?
  }

  h3 {
    margin: 0.6em 0;
    font-size: 1.35em;
    font-weight: 400;
    letter-spacing: -0.022em;
    line-height: 1.4;
  }

  p {
    margin: 0.85em 0;
    letter-spacing: -0.009em;
    line-height: 1.6;
  }

  sup {
    letter-spacing: normal;
    position: relative;

    &#key {
      font-family: $webfont-mono;
      font-size: 0.65em;
      word-spacing: -0.3em;
      margin-right: 0.1em;

      img.emoji {
        vertical-align: -0.15em; // magic number to align with text :\
        padding: 0;
      }
    }
  }

  img#me {
    float: right;
    margin-bottom: 0.6em;
    margin-left: 1.6em;
    padding: 4px;
    width: 160px;
    height: 160px;
    border: 1px solid;
    border-radius: 50%;

    @include colors() {
      border-color: c(light);
    }
  }

  // easter egg emoji cursor
  a#birthday {
    // prettier-ignore
    &:hover {
      cursor: url("data:image/svg+xml;utf8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzNiIgdmlld3BvcnQ9IjAgMCAxMDAgMTAwIiBzdHlsZT0iZm9udC1zaXplOjE4cHgiPjx0ZXh0IHk9IjUwJSI+8J+nmjwvdGV4dD48L3N2Zz4=") 5 5, auto;
    }
  }

  // non-link colors
  span {
    &#serverless {
      color: $color-serverless;
    }

    &#shh {
      @include colors() {
        color: c(medium-light);
      }
    }

    &.wave {
      margin-left: 2px;
    }
  }
}

// Loop through $colors-home (see abstracts/_variables)
@each $id, $colors in $colors-home {
  @each $theme, $color in $colors {
    body.#{$theme} div#layout--home a##{$id} {
      color: $color;
      background-image: underline-hack($color);
    }
  }
}

// Responsive
@mixin responsive--home() {
  div#layout--home {
    font-size: 0.975em;
    padding: 1.2em 1.2em 0.4em 1.2em;

    h2 {
      font-size: 1.5em;
      letter-spacing: -0.014em;
      line-height: 1.4;
    }

    h3 {
      font-size: 1.185em;
      letter-spacing: -0.017em;
      line-height: 1.55;
    }

    p {
      line-height: 1.65;
      letter-spacing: -0.012em;
    }

    img#me {
      width: 90px;
      height: 90px;
      margin: 0 0 0.3em 0.6em;
      padding: 2px;
    }
  }
}
