@charset "UTF-8";

// Home Styles
div.layout-home {
  font-size: 1.025em;
  padding-top: 1.5em;
  padding-bottom: 0.75em;

  h2 {
    margin: 0 0 0.6em 0;
    font-size: 1.8em;
    font-weight: 500;
    letter-spacing: -0.014em;
    line-height: 1.1;
    margin-left: -0.03em; // TODO: why is this indented slightly?
  }

  h3 {
    margin: 0.6em 0;
    font-size: 1.35em;
    font-weight: 400;
    letter-spacing: -0.022em;
    line-height: 1.4;
  }

  p {
    margin: 0.85em 0;
    letter-spacing: -0.009em;
    line-height: 1.6;
  }

  sup {
    letter-spacing: normal;
    position: relative;

    &#key {
      font-family: $webfont-mono;
      font-size: 0.65em;
      word-spacing: -0.3em;
      margin-right: 0.1em;

      img.emoji {
        vertical-align: -0.15em; // magic number to align with text :\
        padding: 0;
      }
    }
  }

  img#me {
    float: right;
    margin-bottom: 0.6em;
    margin-left: 1.6em;
    padding: 4px;
    width: 160px;
    height: 160px;
    border: 1px solid;
    border-radius: 50%;

    @include colors() {
      border-color: c(light);
    }
  }

  // easter egg emoji cursor
  a#birthday {
    // prettier-ignore
    &:hover {
      cursor: url("data:image/svg+xml;utf8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDM2IDM2Ij48ZyBmaWxsPSJub25lIj48cGF0aCBmaWxsPSIjMjkyRjMzIiBkPSJNMi42NTEgNi4wNzNsMjYuMjc1IDI2LjI3NmMuMzkxLjM5MSAyLjg4OC0yLjEwNyAyLjQ5Ny0yLjQ5N0w1LjE0OCAzLjU3NmMtLjM5LS4zOTEtMi44ODggMi4xMDctMi40OTcgMi40OTd6Ii8+PHBhdGggZmlsbD0iIzY2NzU3RiIgZD0iTTI5LjQ0MiAzMS4yM0wzLjE0NiA0LjkzNGwuODgzLS44ODMgMjYuMjk2IDI2LjI5NnoiLz48cGF0aCBmaWxsPSIjRTFFOEVEIiBkPSJNMzMuNTQ2IDMzLjQ4M2wtLjQxMi40MTItLjY3MS42NzFhLjk2Ny45NjcgMCAwMS0uMjU1LjE2OS45ODguOTg4IDAgMDEtMS4xNTktLjE2OWwtMi4xMDItMi4xMDIuNDk1LS40OTUuODgzLS44ODMgMS4xMTktMS4xMTkgMi4xMDIgMi4xMDJhLjk5OS45OTkgMCAwMTAgMS40MTR6TTQuMDI5IDQuNzlsLS44ODMuODgzLS40OTUuNDk1TC40NDIgMy45NmEuOTg4Ljk4OCAwIDAxLS4xNjktMS4xNTkuOTY3Ljk2NyAwIDAxLjE2OS0uMjU1bC42NzEtLjY3MS40MTItLjQxMmEuOTk5Ljk5OSAwIDAxMS40MTQgMGwyLjIwOCAyLjIwOEw0LjAyOSA0Ljc5eiIvPjxwYXRoIGZpbGw9IiNGNUY4RkEiIGQ9Ik0zMC4zMjUgMzAuNDk3bDIuODA5IDIuODA5LS42NzEuNjcxYS45NjcuOTY3IDAgMDEtLjI1NS4xNjlsLTIuNzY3LTIuNzY3Ljg4NC0uODgyek0zLjE0NiA1LjA4NEwuMjczIDIuMjExYS45NjcuOTY3IDAgMDEuMTY5LS4yNTVsLjY3MS0uNjcxIDIuOTE2IDIuOTE2LS44ODMuODgzeiIvPjxwYXRoIGZpbGw9IiNGRkFDMzMiIGQ9Ik0yNy44OTcgMTAuMjE5bDEuNTQyLjU3MS42IDIuMmEuNjY3LjY2NyAwIDAwMS4yODcgMGwuNi0yLjIgMS41NDItLjU3MWEuNjY1LjY2NSAwIDAwMC0xLjI1bC0xLjUzNC0uNTY4LS42MDUtMi40MTVhLjY2Ny42NjcgMCAwMC0xLjI5MyAwbC0uNjA1IDIuNDE1LTEuNTM0LjU2OGEuNjY1LjY2NSAwIDAwMCAxLjI1bS0xNi45MzYgOS42MjhsMi42MS45NjYuOTY2IDIuNjFhMS4xMDMgMS4xMDMgMCAwMDIuMDcgMGwuOTY2LTIuNjEgMi42MDktLjk2NmExLjEwMyAxLjEwMyAwIDAwMC0yLjA3bC0yLjYwOS0uOTY2LS45NjYtMi42MWExLjEwNSAxLjEwNSAwIDAwLTIuMDcgMGwtLjk2NiAyLjYxLTIuNjEuOTY2YTEuMTA0IDEuMTA0IDAgMDAwIDIuMDdNMjMuMTMgNC4zNmwxLjM4My41MTIuNTEyIDEuMzgyYS41ODUuNTg1IDAgMDAxLjA5NiAwbC41MTItMS4zODIgMS4zODItLjUxMmEuNTg0LjU4NCAwIDAwMC0xLjA5NmwtMS4zODItLjUxMi0uNTEyLTEuMzgyYS41ODUuNTg1IDAgMDAtMS4wOTYgMGwtLjUxMiAxLjM4Mi0xLjM4My41MTJhLjU4NS41ODUgMCAwMDAgMS4wOTYiLz48L2c+PC9zdmc+") 0 0, auto;
    }
  }

  // non-link colors
  span {
    &#serverless {
      color: $color-serverless;
    }

    &#shh {
      @include colors() {
        color: c(medium-light);
      }
    }

    &.wave {
      margin-left: 2px;
    }
  }
}

// Loop through $colors-home (see abstracts/_variables)
@each $id, $colors in $colors-home {
  @each $theme, $color in $colors {
    body.#{$theme} div.layout-home a##{$id} {
      color: $color;
      background-image: underline-hack($color);
    }
  }
}

// Responsive
@mixin responsive--home() {
  div.layout-home {
    font-size: 0.975em;
    padding: 1.2em 1.2em 0.4em 1.2em;

    h2 {
      font-size: 1.5em;
      letter-spacing: -0.014em;
      line-height: 1.4;
    }

    h3 {
      font-size: 1.185em;
      letter-spacing: -0.017em;
      line-height: 1.55;
    }

    p {
      line-height: 1.65;
      letter-spacing: -0.012em;
    }

    img#me {
      width: 90px;
      height: 90px;
      margin: 0 0 0.3em 0.6em;
      padding: 2px;
    }
  }
}
