@charset "UTF-8";

// Home Styles
main#home {
  font-size: 1.35em;
  font-weight: 300;
  max-width: 980px;
  padding: 1.5em 1.75em;
  margin: 0 auto;

  a {
    // Loop through $colors-home -- the main reason I switched to SASS :)
    @each $id, $color in $colors-home {
      &##{$id} {
        color: $color;
        background-image: underline-hack($color);
      }
    }
  }

  h2 {
    margin: 0 0 0.6em 0;
    font-size: 1.4em;
    font-weight: 500;
    line-height: 1.2;

    span#wave {
      display: inline-block;
      animation-name: wave;
      animation-duration: 2.5s;
      animation-iteration-count: infinite;
      transform-origin: 70% 70%;
    }
  }

  h3 {
    margin: 0.6em 0;
    font-size: 1.15em;
    font-weight: 400;
    line-height: 1.4;
  }

  p {
    margin: 0.8em 0;
  }

  sup {
    top: -0.5em;
    font-size: 0.5em;
    line-height: 0;
    position: relative;
    vertical-align: middle;
  }

  img#me {
    float: right;
    margin: 0 0 0.75em 0.75em;
    padding: 4px;
    border: 1px solid $color-super-light;
    width: 160px;
    height: 160px;
  }

  // easter egg emoji cursor
  a#birthday {
    &:hover {
      cursor: url(data:image/svg+xml;utf8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzNiIgdmlld3BvcnQ9IjAgMCAxMDAgMTAwIiBzdHlsZT0iZm9udC1zaXplOjE4cHgiPjx0ZXh0IHk9IjUwJSI+8J+nmjwvdGV4dD48L3N2Zz4=) 5 5, auto;
    }
  }

  // non-link colors
  span {
    &#serverless {
      color: $color-serverless;
    }

    &#shh {
      color: $color-medium-light;
    }
  }

  p#blog {
    font-size: 0.9em;
    margin-bottom: 0;

    span {
      margin-right: 4px;
    }
  }
}


// Responsive
@mixin responsive--home() {
  main#home {
    font-size: 1.1em;
  
    p, p#blog {
      font-size: 1.1em;
    }
  
    img#me {
      width: 100px;
      height: 100px;
      padding: 2px;
    }
  }  
}
