@charset "UTF-8";

// Archive/List Styles
main#list {
  max-width: 980px;
  padding: 1.5em 1.5em 0.25em 1.5em;
  margin: 0 auto;

  section.year {
    font-size: 1.05em;

    h2 {
      font-size: 2.25em;
      letter-spacing: -0.025em;
      margin-top: 0;
      margin-bottom: 0.4em;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding-left: 0;
      display: block;
    }

    li {
      display: flex;
      letter-spacing: -0.011em;
      line-height: 1.75;
      margin-bottom: 1em;

      div.date {
        width: 5.25em;
        flex-shrink: 0;

        @include themed() {
          color: t(color-medium);
        }
      }

      &:last-child {
        margin-bottom: 1.6em;
      }
    }
  }
}

// Responsive
@mixin responsive--list() {
  main#list {
    padding: 1em 1em 0.25em 1em;

    section.year {
      font-size: 1em;

      h2 {
        font-size: 2em;
      }
    }
  }
}
