@charset "UTF-8";

// Archive/List Styles
main#list {
  max-width: 980px;
  padding: 1.5em 2.5em;
  margin: 0 auto;

  section.year {
    font-size: 1.05em;

    h2 {
      font-size: 2.25em;
      letter-spacing: -0.025em;
      margin: 0;
    }

    ul {
      list-style-type: none;
      padding-left: 0;
      display: block;
    }

    li {
      display: flex;
      letter-spacing: -0.015em;

      div.date {
        color: $color-medium;
        width: 5.25em;
        flex-shrink: 0;
      }

      + li {
        margin-top: 1.3em;
      }

      &:last-child {
        margin-bottom: 1.8em;
      }
    }
  }
}


// Responsive
@mixin responsive--list() {
  main#list {
    padding: 1em 1.5em;

    section.year {
      font-size: 1em;
    }
  }
}
