@charset "UTF-8";

// Archive/List Styles
div.layout-list {
  padding-top: 1.5em;
  padding-bottom: 0.25em;

  section.year {
    font-size: 1.05em;

    h2 {
      font-size: 2em;
      letter-spacing: -0.025em;
      margin-top: 0;
      margin-bottom: 0.4em;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding-left: 0;
      display: block;
    }

    li {
      display: flex;
      letter-spacing: -0.008em;
      line-height: 1.75;
      margin-bottom: 1em;

      div.date {
        width: 5.25em;
        flex-shrink: 0;

        @include colors() {
          color: c(medium);
        }
      }

      &:last-child {
        margin-bottom: 1.6em;
      }
    }
  }
}

// Responsive
@mixin responsive--list() {
  div.layout-list {
    padding-top: 1em;
    padding-bottom: 0;

    section.year {
      font-size: 1em;

      h2 {
        font-size: 1.75em;
      }
    }
  }
}
