@charset "UTF-8";

// Blog Styles
body#notes {
  line-height: 1.5;
  font-weight: 400;
  max-width: 1010px;
  padding: 0 50px 35px 50px;

  header {
    border-bottom: 1px solid $color-super-light;
    margin-bottom: 25px;

    nav {
      width: 100%;
      padding: 8px 0;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: space-between;

      a#logo {
        display: flex;
        align-items: center;
        color: $color-medium;
        padding: 15px;

        img, svg {
          height: 45px;
          width: auto;
        }

        span#name {
          margin-left: 20px;
          font-size: 1.4em;
          font-weight: 500;
        }
        
        &:hover {
          color: $color-links;

          $logo-original1: #6fbc4e;
          $logo-original2: #ffb900;
          $logo-original3: #009cdf;

          svg {
            g#color1 {
              fill: $logo-original2;
            }
            g#color2 {
              fill: $logo-original3;
            }
            g#color3 {
              fill: $logo-original1;
            }
          }
        }
      }

      ul {
        list-style: none;
        display: flex;
        align-items: center;
        font-size: 1.5em;
        line-height: 1;
        padding: 0;
        margin-right: 15px;

        li {
          width: 60px;
          text-align: right;

          a {
            display: inline-block;
            transition: transform 0.15s ease-in-out;

            &:hover {
              transform: scale(1.4);
            }
          }
        }
      }
    }
  }

  footer {
    border-top: 1px solid $color-super-light;
    line-height: 1.7;
    padding-top: 1.5em;
    margin-top: 2em;
    color: $color-light;
    display: flex;
    justify-content: space-between;

    a {
      color: inherit;
    }

    div {

      &#copyright,
      &#poweredby {
        width: 40%;
        font-size: 0.85em;
        line-height: 2;
      }

      &#copyright {
        text-align: left;
      }

      &#poweredby {
        text-align: right;

        a#source {
          border-bottom: 1px solid $color-super-light;
        }
      }

      &#panda {
        width: 20%;
        text-align: center;
        font-size: 1.7em;
        line-height: 1;

        a {
          display: inline-block;
          transition: transform 0.2s ease-in-out;

          &:hover {
            transform: scale(1.6) rotate(10deg);
          }
        }
      }
    }
  }

  main {
    &#single article div {
      &#info {
        text-align: center;

        h1 {
          margin: 0.3em 0;
          font-size: 2em;
          line-height: 1.4;

          a {
            color: inherit;
          }
        }
      }

      &#meta {
        color: $color-light;
        font-size: 0.85em;
        line-height: 1.5;
        letter-spacing: 1px;

        a {
          color: inherit;
        }

        div#tags {
          text-transform: uppercase;
          letter-spacing: 2px;
          margin-top: 0.5em;

          span.tag {
            margin: 0 0.6em;
          }
        }
      }

      &#content {
        line-height: 1.8;

        h1,
        h2,
        h3 {
          margin-top: 0.9em;
          margin-bottom: 0.5em;
          font-weight: 500;
          line-height: 1.5;
        }

        img {
          max-width: 100%;
          margin: 0 auto;
          display: block;
        }

        // image captions -- two different markdown hacks
        img + em,
        figure figcaption {
          display: block;
          font-size: 0.9em;
          font-style: normal;
          color: $color-light;
          text-align: center;
          margin-top: 0.4em;
        }

        blockquote {
          border-left: 5px solid $color-links;
          margin-left: 0.5em;
          padding-left: 1em;
        }

        ul {
          list-style-position: outside;
          list-style-type: square;
          margin-left: 1.5em;
          padding-left: 0;

          li {
            padding-left: 0.25em;
          }
        }

        hr {
          width: 60%;
          margin: 0.75em auto;
          border: 1px solid $color-super-light;
        }

        video.embed {
          display: block;
          margin: 0 auto;
        }

        div.embed.video-player {
          position: relative;
          padding-bottom: 56.25%;
          height: 0;
          overflow: hidden;

          iframe.youtube-player {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: none;
            display: inline-block;
          }
        }

        iframe.twitter-tweet, twitter-widget {
          margin: 0 auto;
          display: block;
        }
        
        code {
          // https://markdotto.com/2018/02/07/github-system-fonts/
          font-family: "SFMono-Regular", "Consolas", "Liberation Mono", "Menlo", "Courier", monospace;
          font-size: 0.9em;
          padding: 0.2em;
          background: $color-super-duper-light;
          border: 1px solid $color-super-light;
        }

        pre code {
          display: block;
          padding: 1em 1.5em;
          line-height: 1.6;
          border-left: 3px solid $color-links;
          max-width: 100%;
          overflow-x: scroll;
          page-break-inside: avoid;
          object-fit: scale-down;
        }
      }
    }

    &#archive section.year {
      font-size: 1.1em;

      ul {
        list-style-type: none;
        padding-left: 0;
        display: block;
      }

      li {
        display: flex;

        div.date {
          color: $color-light;
          width: 5.25em;
          flex-shrink: 0;
        }
      
        &::after {
          content: '';
          display: block;
          clear: both;
        }

        &:last-child {
          margin-bottom: 1.8em;
        }

        + li {
          margin-top: 1.3em;
        }
      }

      h2 {
        font-size: 1.8em;
      }

    }
  }
}
