@use "../abstracts/themes";

// Video Styles
div.layout-projects {
  padding-top: 1.5em;
  padding-bottom: 0.75em;

  h1 {
    margin-top: 0;
    margin-bottom: 0.4em;
    text-align: center;
    letter-spacing: -0.005em;

    a {
      color: inherit;
    }
  }

  div#content > p {
    text-align: center;
  }

  div#loading-spinner {
    width: 40px;
    display: block;
    margin: 1.2em auto 0 auto;

    > div {
      width: 10px;
      height: 20px;
    }
  }

  div#github-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;

    div.github-card {
      flex-grow: 1;
      display: block;
      width: 416px; // magic number
      padding: 1em 1.2em;
      margin: 0.6em;
      border: 1px solid;
      border-radius: 0.5em;
      font-size: 0.9em;

      @include themes.themed(color, "medium-dark");
      @include themes.themed(border-color, "kinda-light");

      a.repo-name {
        font-size: 1.2em;
        font-weight: 600;
      }

      p.repo-description {
        margin: 0.3em 0 0.6em 0;
      }

      div.repo-meta {
        display: inline-block;
        margin-right: 1.2em;
        font-size: 0.925em;

        @include themes.themed(color, "medium");

        svg {
          display: inline-block;
          position: relative;
          top: 0.25em;
          margin-right: 0.2em;
          fill: currentColor;
        }

        span.repo-language-color {
          display: inline-block;
          width: 1.2em;
          height: 1.2em;
          border-radius: 50%;
          position: relative;
          top: 0.235em;
          margin-right: 0.2em;
        }
      }
    }
  }
}

// Responsive
@mixin responsive() {
  div.layout-projects {
    h1 {
      font-size: 1.6em;
    }
  }
}
