@charset "UTF-8";

// Post Styles
div.layout-single {
  padding-top: 1em;
  padding-bottom: 1em;

  div#meta {
    font-size: 0.875em;
    line-height: 1.3;
    letter-spacing: 0.04em;
    margin-top: 0.8em;

    @include colors() {
      color: c(medium);
    }

    a {
      color: inherit;
    }

    span.dash {
      margin: 0 0.7em;
    }
  }

  h1.title {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    margin-left: -0.03em; // TODO: why is this indented slightly?
    font-size: 2.1em;
    line-height: 1.3;
    font-weight: 700;
    letter-spacing: -0.006em;

    a {
      color: inherit;
    }
  }
}

// Responsive
@mixin responsive--single() {
  div.layout-single {
    padding-top: 0.8em;
    padding-bottom: 0.4em;

    h1.title {
      margin-top: 0.4em;
      font-size: 1.8em;
    }
  }
}
