@charset "UTF-8";

// Post Styles
main#single {
  max-width: 910px;
  padding: 1em 2em;
  margin: 0 auto;

  div#meta {
    color: $color-medium;
    font-size: 0.85em;
    line-height: 1.3;
    letter-spacing: 0.04em;
    margin-top: 0.8em;

    a {
      color: inherit;
    }

    span.dash {
      margin: 0 0.7em;
    }
  }

  h1#title {
    margin: 0.3em 0 0.5em 0;
    font-size: 2.3em;
    line-height: 1.25;
    font-weight: 700;

    a {
      color: inherit;
    }
  }

  div#comments {
    margin-top: 1.5em;
    padding-top: 0.5em;
    border-top: 2px solid $color-light;

    div.utterances {
      max-width: unset;
    }
  }
}


// Responsive
@mixin responsive--single() {
  main#single {
    padding: 0.8em 1.1em;

    h1#title {
      font-size: 1.8em;
    }

    div#meta {
      // hide "Improve This Post" link on mobile
      span#edit {
        display: none;
      }
    }
  }
}
