@charset "UTF-8";

// Post Styles
main#single {
  max-width: $max-width;
  padding: 1em 1.5em;
  margin: 0 auto;

  div#meta {
    font-size: 0.85em;
    line-height: 1.3;
    letter-spacing: 0.04em;
    margin-top: 0.8em;

    @include themed() {
      color: t(color-medium);
    }

    a {
      color: inherit;
    }

    span.dash {
      margin: 0 0.7em;
    }
  }

  h1#title {
    margin-top: 0.3em;
    margin-bottom: 0.6em;
    font-size: 2.2em;
    line-height: 1.3;
    font-weight: 700;

    a {
      color: inherit;
    }
  }

  div#comments {
    margin-top: 1.5em;
    padding-top: 0.5em;

    @include themed() {
      border-top: 2px solid t(color-light);
    }

    div.utterances {
      max-width: unset;
    }
  }
}

// Responsive
@mixin responsive--single() {
  main#single {
    padding: 0.8em 1.1em;

    h1#title {
      margin-top: 0.5em;
      font-size: 1.8em;
    }
  }
}
