@charset "UTF-8";

// Video Styles
main#video {
  margin: 0 auto;
  padding: 1.5em 0;
  text-align: center;

  h1 {
    margin-top: 0;
    letter-spacing: -0.005em;

    a {
      color: inherit;
    }
  }

  p {
    font-size: 0.85em;
    letter-spacing: -0.01em;
    line-height: 1.5;
    color: #777777;
    margin: 1.25em;

    a {
      font-weight: bold;
    }
  }

  video {
    width: $responsive-width;
    height: auto;

    // Subtitle caption styling
    // stylelint-disable-next-line selector-pseudo-element-no-unknown
    &::cue {
      font-family: inherit;
    }
  }
}


// Responsive
@mixin responsive--videos() {
  main#video {
    padding: 1em 0;

    h1 {
      font-size: 1.6em;
      padding: 0 0.6em;
    }

    video {
      width: 100%;
      height: auto;
    }
  }
}
