@charset "UTF-8";

// Video Styles
main#video {
  margin: 20px auto;
  text-align: center;

  p {
    font-size: 0.85em;
    line-height: 1.5em;
    color: #777777;
    margin: 20px 10px;
  }

  a {
    font-weight: bold;
  }

  video {
    width: $responsive-width;
    height: auto;
    font-family: inherit;    // for subtitles
  }
}


// Responsive
@mixin responsive--videos() {
  main#video {
    margin: 20px 0;
  
    h1 {
      font-size: 1.6em;
      padding: 0 15px;
    }
  
    video {
      width: 100%;
      height: auto;
    }
  }  
}
