@charset "UTF-8";

// Video Styles
body#videos {
  margin: 75px auto;
  text-align: center;

  p {
    font-size: 0.85em;
    line-height: 1.5em;
    color: #777777;
    margin: 0;
    padding: 0 10px;
  }

  a {
    font-weight: bold;
  }

  a#logo svg {
    height: 48px;
    width: 48px;
    padding: 4px;
    margin: 16px 0 8px 0;
  }

  video {
    width: $responsive-width;
    height: auto;
    font-family: inherit;    // for subtitles
  }
}
