{{- $optimized := partial "functions/optimize-image" . -}}

<p class="image">
  {{ with .Get "link" }}<a href="{{ . }}"{{ if strings.HasPrefix . "http" }} target="_blank" rel="noopener"{{ end }}>{{ end }}
  <amp-img
    {{- with .Get "alt" }} alt="{{ . | safeHTML }}"{{ else }}
    {{- with .Inner }} alt="{{ . | $.Page.RenderString | plainify | safeHTML }}"{{ end }}{{ end }}
    src="{{ $optimized.Permalink }}"
    width="{{ $optimized.Width }}"
    height="{{ $optimized.Height }}"
    layout="intrinsic">
  </amp-img>
  {{ if .Get "link" }}</a>{{ end }}
</p>

{{ with .Inner }}<p class="caption">{{ . | $.Page.RenderString | safeHTML }}</p>{{ end }}
