{{- $optimized := partial "optimize-image" . -}}

<p class="image">
  <amp-img
    {{- with .Get "alt" }} alt="{{ . | safeHTMLAttr }}" title="{{ . | safeHTMLAttr }}"{{ end }}
    {{- with .Inner }} alt="{{ . | markdownify | plainify | safeHTMLAttr }}" title="{{ . | markdownify | plainify | safeHTMLAttr }}"{{ end }}
    src="{{ $optimized.Permalink }}"
    width="{{ .Scratch.Get "displayWidth" }}"
    height="{{ .Scratch.Get "displayHeight" }}"
    layout="intrinsic">
  </amp-img>
</p>

{{- with .Inner }}<p class="caption">{{ $.Page.RenderString . | safeHTML }}</p>{{ end -}}
