<amp-video
  layout="responsive"
  width="{{ with .Get "width" }}{{ . }}{{ else }}910{{ end }}"
  height="{{ with .Get "height" }}{{ . }}{{ else }}600{{ end }}"
  {{- with .Page.Resources.GetMatch (.Get "poster") }} poster="{{ .Permalink }}"{{ end }}
  {{- if .Get "autoplay" }} autoplay{{ end }}
  {{- if .Get "loop" }} loop{{ end }}
  {{- if ne (.Get "nocontrols") "1" }} controls{{ end }}>
  {{ with .Page.Resources.GetMatch (.Get "webm") }}<source src="{{ .Permalink }}" type="video/webm">{{ end }}
  {{ with .Page.Resources.GetMatch (.Get "mp4")  }}<source src="{{ .Permalink }}" type="video/mp4">{{ end }}
  {{ with .Page.Resources.GetMatch (.Get "ogg")  }}<source src="{{ .Permalink }}" type="video/ogg">{{ end }}

  {{ with .Page.Resources.GetMatch (.Get "vtt") }}<track src="{{ .Permalink }}" kind="captions" label="English" srclang="en" default>{{ end }}

  <div fallback>
    <p>Your browser does not support HTML5 video. {{ with .Page.Resources.GetMatch (.Get "mp4")  }}<a href="{{ .Permalink }}">Load the .mp4 video directly.</a>{{ end }}</p>
  </div>
</amp-video>
