name: Build Hugo

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
      with:
        fetch-depth: 1
        lfs: false
    - uses: actions/setup-node@v1
      with:
        node-version: "12.x"
    # https://github.com/actions/cache/blob/master/examples.md#node---yarn
    # https://github.com/actions/cache/issues/60
    - name: Get yarn cache location
      id: yarn-cache
      run: echo "::set-output name=dir::$(yarn cache dir)"
    - name: Cache dependencies
      uses: actions/cache@v1
      with:
        path: ${{ steps.yarn-cache.outputs.dir }}
        key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-yarn-
    - run: yarn install --no-ignore-optional --frozen-lockfile
    - run: yarn hugo:version
    - run: yarn build:preview
    - run: yarn optimize
    - uses: actions/upload-artifact@master
      if: github.event_name == 'pull_request'
      with:
        name: public
        path: './public'
