name: Deploy

on: push

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@master
    - name: Build Hugo site
      uses: peaceiris/actions-hugo@v0.57.2
      with:
        args: --debug -v
    - name: test artifact
      uses: actions/upload-artifact@master
      with:
        name: public
        path: ./public
    - name: Purge cache
      uses: jakejarvis/cloudflare-purge-action@master
      env:
        CLOUDFLARE_ZONE: ${{ secrets.CLOUDFLARE_ZONE }}
        CLOUDFLARE_EMAIL: ${{ secrets.CLOUDFLARE_EMAIL }}
        CLOUDFLARE_KEY: ${{ secrets.CLOUDFLARE_KEY }}
