name: GitHub Pages

on:
  push:
    branches:
    - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
      with:
        fetch-depth: 1
        lfs: false
    - uses: jakejarvis/hugo-build-action@develop-v0.53-DEV
      with:
        args: --gc --cleanDestinationDir
    - uses: jakejarvis/github-pages-deploy-action@master
      env:
        PAGES_TOKEN: ${{ secrets.GITHUB_ACCESS_TOKEN }}
        PAGES_CNAME: 'jarv.is'
        PAGES_SOURCE_FOLDER: 'public'
        PAGES_SOURCE_BRANCH: 'master'
        PAGES_TARGET_BRANCH: 'master'
        PAGES_TARGET_REPO: 'jakejarvis.github.io'
