name: Purge old artifacts

on:
  schedule:
  - cron: '0 9 * * 3'   # every Wednesday at 9 AM UTC == 5 AM EDT
  workflow_dispatch:

jobs:
  purge-artifacts:
    runs-on: ubuntu-latest
    steps:
    - uses: kolpav/purge-artifacts-action@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        expire-in: 0
